.oscillators__osc1
	display flex
	text-align center
	padding-top ($unit / 2)
	padding-bottom ($unit / 2)

.oscillators__osc1
	justify-content space-around

.oscillators__osc1
	flex-direction column
	width 35%
	border-right solid 2px $section-title-background-color

.oscillators__label
	font-weight bold
	text-align center
	color $section-title-background-color
	font-size 140%
	user-select none
	bottom 0
